.recevierInfo {
    display: flex;
    align-items: center;
    padding: 12px 18px;

    .img {
        width: 22px;
        height: 22px;
    }

    .recevier {
        flex: 1;
        font-size: 12px;
        margin-left: 15px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);

        .info {
            display: flex;

            .name {
                flex: 1;
            }

            .phone {
                flex: 1;
            }
        }

        .address {
            margin-top: 5px;
        }
    }
}