.header___3pz2g {
  height: 44px;
  border-right-color: red; }

.main___36wau {
  flex: 1;
  overflow-y: scroll; }

.container___iibpr {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.detailWrapper___13Q20 {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 55px;
  box-sizing: border-box; }

.bottom___pLzon {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-right-color: red;
  padding: 8px 0;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-top: 1px #DCDCDC solid; }

.icon___2yK8a {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .icon___2yK8a .img___2wTWK {
    width: 20px;
    height: 20px; }
  .icon___2yK8a .text___zTOfr {
    padding-top: 6px;
    font-size: 12px;
    line-height: 12px;
    color: #999999; }
    .icon___2yK8a .text___zTOfr.actived___1Ryn4 {
      color: #ff1d5c; }

@charset "UTF-8";
.detailWrapper___9CAjw {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 46px;
  box-sizing: border-box; }

.detailWrapper2___a0WCY {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 98px;
  box-sizing: border-box; }

.main___3R-RG {
  flex: 1;
  overflow-y: scroll; }

.bottom___2duYt {
  width: 100%;
  position: fixed;
  bottom: 0; }

.bottom2___2J4fl {
  width: 100%;
  position: fixed;
  bottom: 55px;
  background-color: #fff;
  border-top: 1px solid #ddd; }

.more___253rd {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 18px;
  height: 5px; }

.bgWrapper___2I_bA {
  position: relative;
  font-size: 0; }
  .bgWrapper___2I_bA .bg___2Di5j {
    width: 100vw; }
  .bgWrapper___2I_bA .orderStatus___2PVeu {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 24px;
    color: white;
    transform: translateY(-50%); }

.skuList___3eGwH {
  padding: 10px 16px;
  display: flex; }
  .skuList___3eGwH .skuWrapper___QCY_T {
    flex: 1;
    display: flex;
    justify-content: space-between; }
  .skuList___3eGwH .img___3qQR8 {
    width: 60px;
    height: 60px; }
  .skuList___3eGwH .skuInfo___2uX5q {
    font-size: 12px;
    font-weight: 400;
    color: #636363;
    margin-left: 12px; }
    .skuList___3eGwH .skuInfo___2uX5q .title___1aJU0 {
      width: 200px;
      /*必须是固定宽度值*/
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      /*超出部分隐藏*/ }
  .skuList___3eGwH .priceInfo___3d936 {
    text-align: right;
    font-weight: 400;
    color: #636363; }

.orderInfo___3BMiw {
  margin-top: 10px; }
  .orderInfo___3BMiw .title___1aJU0 {
    border-left: 2px #f40c0c solid;
    padding-left: 5px; }

.list___TlqbY {
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px; }

.item___Kc33H {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #636363; }
  .item___Kc33H .arrow___2ZSUn {
    width: 7px;
    height: 12px; }

.btns___14C3A {
  padding: 10px 15px;
  text-align: right; }
  .btns___14C3A .recevie___2SzeB,
  .btns___14C3A .pay___y_UFT {
    outline: none;
    border: none;
    width: 68px;
    height: 22px;
    border-radius: 21px;
    font-size: 12px;
    color: white; }
  .btns___14C3A .recevie___2SzeB {
    background: #ffb346;
    margin-right: 10px; }
  .btns___14C3A .pay___y_UFT {
    background: #f1231f; }

.spuDetailImg___QU-Og {
  width: 100%; }

.listItem___3uS-U {
  padding: 8px 15px;
  display: flex;
  border-bottom: 1px solid #ddd; }
  .listItem___3uS-U .listLabel___1eeZl {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    min-width: 80px; }
  .listItem___3uS-U .input___1vQr1 {
    outline: none;
    border: none; }

.addAddressWrapper___UGsMn {
  font-size: 14px;
  padding: 15px;
  display: flex;
  align-items: center; }
  .addAddressWrapper___UGsMn .img___3qQR8 {
    width: 22px;
    height: 22px; }
  .addAddressWrapper___UGsMn .addAddressTitle___1qI9J {
    margin-left: 10px; }

.login___2NkG8 {
  padding: 12px; }
  .login___2NkG8 .inputItem___ZIlxm, .login___2NkG8 .linkItem___mtvXW {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd; }
  .login___2NkG8 .linkItem___mtvXW {
    justify-content: space-between; }
  .login___2NkG8 .inputLabel___15Sr2 {
    width: 80px; }
  .login___2NkG8 .input___1vQr1 {
    border: none;
    outline: none; }
  .login___2NkG8 .labelArrow___1nmKK {
    width: 10px;
    height: 18px; }
  .login___2NkG8 .registBtn___39BbD {
    justify-content: flex-end;
    border-bottom: none; }


/*# sourceMappingURL=styles.chunk.css.map*/