.header___3pz2g {
  height: 44px;
  border-right-color: red; }

.main___36wau {
  flex: 1;
  overflow-y: scroll; }

.container___iibpr {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.detailWrapper___13Q20 {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 55px;
  box-sizing: border-box; }

.bottom___pLzon {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-right-color: red;
  padding: 8px 0;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-top: 1px #DCDCDC solid; }

.icon___2yK8a {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .icon___2yK8a .img___2wTWK {
    width: 20px;
    height: 20px; }
  .icon___2yK8a .text___zTOfr {
    padding-top: 6px;
    font-size: 12px;
    line-height: 12px;
    color: #999999; }
    .icon___2yK8a .text___zTOfr.actived___1Ryn4 {
      color: #ff1d5c; }

.rmc-picker,
.rmc-multi-picker {
  height: 238px;
  /*34*7*/
}
.rmc-multi-picker {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.rmc-picker-item {
  font-size: 16px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9b9b9b;
  width: 100%;
  box-sizing: border-box;
}
.rmc-picker {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-flex: 1;
          flex: 1;
  text-align: center;
}
.rmc-picker-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.6))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.6)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-position: top, bottom;
  background-size: 100% 204px;
  background-repeat: no-repeat;
}
.rmc-picker-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.rmc-picker-indicator {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  position: absolute;
  left: 0;
  top: 102px;
  z-index: 3;
  border-top: 1PX solid #ddd;
  border-bottom: 1PX solid #ddd;
}

.rmc-cascader {
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 0;
}
.rmc-cascader-item {
  -ms-flex: 1;
      flex: 1;
  text-align: center;
}

.rmc-picker-popup {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.rmc-picker-popup-close {
  display: none;
}
.rmc-picker-popup-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow-scrolling: touch;
  outline: 0;
}
.rmc-picker-popup-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  filter: alpha(opacity=50);
  z-index: 1050;
}
.rmc-picker-popup-mask-hidden {
  display: none;
}
.rmc-picker-popup-header {
  background-image: -webkit-linear-gradient(top, #e7e7e7, #e7e7e7, transparent, transparent);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), color-stop(#e7e7e7), color-stop(transparent), to(transparent));
  background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7, transparent, transparent);
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.rmc-picker-popup-header-left,
.rmc-picker-popup-header-right {
  padding-left: 15px;
  padding-right: 15px;
}
.rmc-picker-popup-item {
  color: #0ae;
  font-size: 18px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.rmc-picker-popup-item-active {
  background-color: #ddd;
}
.rmc-picker-popup-title {
  -webkit-box-flex: 1;
          flex: 1;
  color: #666;
  cursor: default;
}
.rmc-picker-popup-fade-enter,
.rmc-picker-popup-fade-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rmc-picker-popup-fade-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rmc-picker-popup-fade-enter.rmc-picker-popup-fade-enter-active,
.rmc-picker-popup-fade-appear.rmc-picker-popup-fade-appear-active {
  -webkit-animation-name: rmcPopupPickerFadeIn;
          animation-name: rmcPopupPickerFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rmc-picker-popup-fade-leave.rmc-picker-popup-fade-leave-active {
  -webkit-animation-name: rmcPopupPickerFadeOut;
          animation-name: rmcPopupPickerFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rmcPopupPickerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rmcPopupPickerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rmcPopupPickerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rmcPopupPickerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rmc-picker-popup-slide-fade-enter,
.rmc-picker-popup-slide-fade-appear {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.rmc-picker-popup-slide-fade-enter,
.rmc-picker-popup-slide-fade-appear,
.rmc-picker-popup-slide-fade-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rmc-picker-popup-slide-fade-enter.rmc-picker-popup-slide-fade-enter-active,
.rmc-picker-popup-slide-fade-appear.rmc-picker-popup-slide-fade-appear-active {
  -webkit-animation-name: rmcPopupPickerSlideFadeIn;
          animation-name: rmcPopupPickerSlideFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rmc-picker-popup-slide-fade-leave.rmc-picker-popup-slide-fade-leave-active {
  -webkit-animation-name: rmcPopupPickerSlideFadeOut;
          animation-name: rmcPopupPickerSlideFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rmcPopupPickerSlideFadeIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes rmcPopupPickerSlideFadeIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes rmcPopupPickerSlideFadeOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}
@keyframes rmcPopupPickerSlideFadeOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

.selectItem___3tJyY {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #ddd; }

.icon___8VmVK {
  width: 8px;
  height: 14px; }

.area___2VCFm {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  margin: 0;
  padding: 8px 0; }

.title___2eS8E {
  font-size: 14px;
  font-weight: 400;
  color: #333333; }

.label___39uIT {
  display: inline-block;
  min-width: 80px; }

.header___1Ocni {
  position: relative;
  padding: 10px 12px;
  border-bottom: 1px #ddd solid; }

.left___3mv74 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 400;
  color: #333333; }

.back___1ZKT1 {
  width: 9px;
  height: 16px;
  padding: 15px;
  padding-right: 20px; }

.text___1WNHA {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #1a1a1a; }

.right___2wH0T {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 400;
  color: #333333; }

.bottom___3NMso {
  display: flex;
  justify-content: space-between; }

.left___2qZ6m {
  display: flex;
  align-items: center;
  padding: 14px 18px; }
  .left___2qZ6m .img___1iLLr {
    width: 20px;
    height: 20px; }
  .left___2qZ6m .all___27Xzz {
    padding-left: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #666666; }

.right___3yfhg {
  display: flex;
  justify-content: end;
  align-items: center; }
  .right___3yfhg .priceWrapper___2ESXD {
    padding-right: 6px; }
    .right___3yfhg .priceWrapper___2ESXD .total___2TI0r {
      font-size: 14px;
      font-weight: 400;
      color: #333333; }
    .right___3yfhg .priceWrapper___2ESXD .price___1LxrD {
      font-size: 16px;
      font-weight: bold;
      color: #ff1d5c; }
  .right___3yfhg .pay___1QO52 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 104px;
    height: 46px;
    color: white;
    background: #ff1d5c; }

.productItem___2XRh0 {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  align-items: center; }

.img___1VG8Z {
  min-width: 80px;
  height: 80px; }

.baseInfo___1begS {
  padding-left: 8px; }

.title___1K0Kb {
  font-size: 14px;
  color: #333333; }

.desc___1Sno5 {
  margin-top: 7px;
  font-size: 12px;
  font-weight: 400;
  color: #999999; }

.price___3-8uG {
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #ff1d5c; }

.icon___1Z4S6 {
  width: 20px;
  height: 20px;
  padding-right: 5px; }

@charset "UTF-8";
.detailWrapper___9CAjw {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 46px;
  box-sizing: border-box; }

.detailWrapper2___a0WCY {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 98px;
  box-sizing: border-box; }

.main___3R-RG {
  flex: 1;
  overflow-y: scroll; }

.bottom___2duYt {
  width: 100%;
  position: fixed;
  bottom: 0; }

.bottom2___2J4fl {
  width: 100%;
  position: fixed;
  bottom: 55px;
  background-color: #fff;
  border-top: 1px solid #ddd; }

.more___253rd {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 18px;
  height: 5px; }

.bgWrapper___2I_bA {
  position: relative;
  font-size: 0; }
  .bgWrapper___2I_bA .bg___2Di5j {
    width: 100vw; }
  .bgWrapper___2I_bA .orderStatus___2PVeu {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 24px;
    color: white;
    transform: translateY(-50%); }

.recevierInfo___6d6HK {
  display: flex;
  align-items: center;
  padding: 12px 18px; }
  .recevierInfo___6d6HK .img___3qQR8 {
    width: 22px;
    height: 22px; }
  .recevierInfo___6d6HK .recevier___1zd2X {
    flex: 1;
    font-size: 12px;
    margin-left: 15px;
    font-weight: 400;
    color: #666666; }
    .recevierInfo___6d6HK .recevier___1zd2X .info___2Z_k5 {
      display: flex; }
      .recevierInfo___6d6HK .recevier___1zd2X .info___2Z_k5 .name___2Cl2q {
        flex: 1; }
      .recevierInfo___6d6HK .recevier___1zd2X .info___2Z_k5 .phone___1aMdM {
        flex: 1; }
    .recevierInfo___6d6HK .recevier___1zd2X .address___3nZY2 {
      margin-top: 5px; }

.skuList___3eGwH {
  padding: 10px 16px;
  display: flex; }
  .skuList___3eGwH .skuWrapper___QCY_T {
    flex: 1;
    display: flex;
    justify-content: space-between; }
  .skuList___3eGwH .img___3qQR8 {
    width: 60px;
    height: 60px; }
  .skuList___3eGwH .skuInfo___2uX5q {
    font-size: 12px;
    font-weight: 400;
    color: #636363;
    margin-left: 12px; }
    .skuList___3eGwH .skuInfo___2uX5q .title___1aJU0 {
      width: 200px;
      /*必须是固定宽度值*/
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      /*超出部分隐藏*/ }
  .skuList___3eGwH .priceInfo___3d936 {
    text-align: right;
    font-weight: 400;
    color: #636363; }

.orderInfo___3BMiw {
  margin-top: 10px; }
  .orderInfo___3BMiw .title___1aJU0 {
    border-left: 2px #f40c0c solid;
    padding-left: 5px; }

.list___TlqbY {
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px; }

.item___Kc33H {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #636363; }
  .item___Kc33H .arrow___2ZSUn {
    width: 7px;
    height: 12px; }

.btns___14C3A {
  padding: 10px 15px;
  text-align: right; }
  .btns___14C3A .recevie___2SzeB,
  .btns___14C3A .pay___y_UFT {
    outline: none;
    border: none;
    width: 68px;
    height: 22px;
    border-radius: 21px;
    font-size: 12px;
    color: white; }
  .btns___14C3A .recevie___2SzeB {
    background: #ffb346;
    margin-right: 10px; }
  .btns___14C3A .pay___y_UFT {
    background: #f1231f; }

.spuDetailImg___QU-Og {
  width: 100%; }

.listItem___3uS-U {
  padding: 8px 15px;
  display: flex;
  border-bottom: 1px solid #ddd; }
  .listItem___3uS-U .listLabel___1eeZl {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    min-width: 80px; }
  .listItem___3uS-U .input___1vQr1 {
    outline: none;
    border: none; }

.confirmWrapper___1pbWC {
  padding: 8px 15px;
  box-sizing: border-box;
  width: 100%; }
  .confirmWrapper___1pbWC .confirm___1OEQr {
    outline: none;
    width: 100%;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 25px;
    background-color: #ff1d5c; }

.addAddressWrapper___UGsMn {
  font-size: 14px;
  padding: 15px;
  display: flex;
  align-items: center; }
  .addAddressWrapper___UGsMn .img___3qQR8 {
    width: 22px;
    height: 22px; }
  .addAddressWrapper___UGsMn .addAddressTitle___1qI9J {
    margin-left: 10px; }


/*# sourceMappingURL=styles.chunk.css.map*/