.header {
  height: 44px;
  border-right-color: red; }

.main {
  flex: 1;
  overflow-y: scroll; }

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.detailWrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 55px;
  box-sizing: border-box; }

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-right-color: red;
  padding: 8px 0;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-top: 1px #DCDCDC solid; }

.icon {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .icon .img {
    width: 20px;
    height: 20px; }
  .icon .text {
    padding-top: 6px;
    font-size: 12px;
    line-height: 12px;
    color: #999999; }
    .icon .text.actived {
      color: #ff1d5c; }

.rmc-picker,
.rmc-multi-picker {
  height: 238px;
  /*34*7*/
}
.rmc-multi-picker {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.rmc-picker-item {
  font-size: 16px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9b9b9b;
  width: 100%;
  box-sizing: border-box;
}
.rmc-picker {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-flex: 1;
          flex: 1;
  text-align: center;
}
.rmc-picker-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.6))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.6)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-position: top, bottom;
  background-size: 100% 204px;
  background-repeat: no-repeat;
}
.rmc-picker-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.rmc-picker-indicator {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  position: absolute;
  left: 0;
  top: 102px;
  z-index: 3;
  border-top: 1PX solid #ddd;
  border-bottom: 1PX solid #ddd;
}

.rmc-cascader {
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 0;
}
.rmc-cascader-item {
  -ms-flex: 1;
      flex: 1;
  text-align: center;
}

.rmc-picker-popup {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.rmc-picker-popup-close {
  display: none;
}
.rmc-picker-popup-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow-scrolling: touch;
  outline: 0;
}
.rmc-picker-popup-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  filter: alpha(opacity=50);
  z-index: 1050;
}
.rmc-picker-popup-mask-hidden {
  display: none;
}
.rmc-picker-popup-header {
  background-image: -webkit-linear-gradient(top, #e7e7e7, #e7e7e7, transparent, transparent);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), color-stop(#e7e7e7), color-stop(transparent), to(transparent));
  background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7, transparent, transparent);
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.rmc-picker-popup-header-left,
.rmc-picker-popup-header-right {
  padding-left: 15px;
  padding-right: 15px;
}
.rmc-picker-popup-item {
  color: #0ae;
  font-size: 18px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.rmc-picker-popup-item-active {
  background-color: #ddd;
}
.rmc-picker-popup-title {
  -webkit-box-flex: 1;
          flex: 1;
  color: #666;
  cursor: default;
}
.rmc-picker-popup-fade-enter,
.rmc-picker-popup-fade-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rmc-picker-popup-fade-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rmc-picker-popup-fade-enter.rmc-picker-popup-fade-enter-active,
.rmc-picker-popup-fade-appear.rmc-picker-popup-fade-appear-active {
  -webkit-animation-name: rmcPopupPickerFadeIn;
          animation-name: rmcPopupPickerFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rmc-picker-popup-fade-leave.rmc-picker-popup-fade-leave-active {
  -webkit-animation-name: rmcPopupPickerFadeOut;
          animation-name: rmcPopupPickerFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rmcPopupPickerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rmcPopupPickerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rmcPopupPickerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rmcPopupPickerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rmc-picker-popup-slide-fade-enter,
.rmc-picker-popup-slide-fade-appear {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.rmc-picker-popup-slide-fade-enter,
.rmc-picker-popup-slide-fade-appear,
.rmc-picker-popup-slide-fade-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rmc-picker-popup-slide-fade-enter.rmc-picker-popup-slide-fade-enter-active,
.rmc-picker-popup-slide-fade-appear.rmc-picker-popup-slide-fade-appear-active {
  -webkit-animation-name: rmcPopupPickerSlideFadeIn;
          animation-name: rmcPopupPickerSlideFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rmc-picker-popup-slide-fade-leave.rmc-picker-popup-slide-fade-leave-active {
  -webkit-animation-name: rmcPopupPickerSlideFadeOut;
          animation-name: rmcPopupPickerSlideFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rmcPopupPickerSlideFadeIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes rmcPopupPickerSlideFadeIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes rmcPopupPickerSlideFadeOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}
@keyframes rmcPopupPickerSlideFadeOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}


/*# sourceMappingURL=styles.chunk.css.map*/